<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <script src="/public/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Example page header <small>Subtext for header</small></h1>
        </div>
        <button class="btn btn-success"><a href="/poster">发表留言</a></button>
        <ul class="list-group">
            {{each contents}}
            <li class="list-group-item">{{$value.name}}: {{$value.content}}<span>{{$value.date}}</span></li>
            {{/each}}
        </ul>
    </div>
    
</body>
</html>