* {
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#wrap {
  width: 100%;
  height: 100%;
}
#wrap canvas {
  position: absolute;
  transition-duration: 1s;
}
#wrap ul {
  height: 100%;
  width: 100%;
  list-style: none;
}
#wrap ul li {
  height: 100%;
  width: 100%;
  background-image: url(../img/1.png);
  background-size: 100% 100%;
}
